<h1>New Task</h1>
<%= form_for :task, method: :post do |f| %>
  Title: <%= f.text_field :title %><br /><br>
  Details : <%= f.text_area :details %><br />
  <%= f.submit %>
<% end %>

<%= link_to "Back tot the list", tasks_path%>